.header {
    align-items: center;
    text-align: center;
    margin: 21px;
}

hr {
    border-color: rgb(252, 252, 252);
}

.title {
font-family: Verdana, Geneva, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #4899c2;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
position: relative;
bottom: 10px;
}

.header img {
    width: 40px;
}

.subtitle {
    position: absolute;
    top: 35px;
    left: 35px;
    color: gray;
}